<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="main.css" rel="stylesheet">
    <title>Stocks Main</title>
</head>
<body>
<div class="last_update">Last Update: Never</div>
<table class="data">
    <tr>
        <th>Symbol</th>
        <th>Value</th>
    </tr>
    {% for k in data %}
    <tr>
        <td><a href="{{ base_url|e }}/{{ k|e }}" target="_blank">{{ k|e }}</a></td>
        <td class="{{ k|e }}">${{ data.get(k)|e }}</td>
    </tr>
    {% endfor %}
</table>
</body>
<footer>
    {{ footer_html|safe }}
    <script charset="utf-8" type="text/javascript">
        let reload_on_data_update = false;
        var socket = io();
        socket.on('connect', function () {
            // Emit connected
            update();
            socket.emit('connected', {data: 'Client Connected: ' + navigator.userAgent.toString()});
        });
        socket.on('disconnect', function () {
            // Emit connected
            update();
            socket.emit('disconnected', {data: 'Client Disconnected: ' + navigator.userAgent.toString()});
        });
        var update = function () {
            let dt = new Date();
            $('div.last_update').text('Last Update: ' + dt.toTimeString());
        }

        socket.on('reload_page', function () {
            reload_on_data_update = true;
        });
        socket.on('client_update', function (json) {
            // Update values for client

            // console.log(data);
            // console.log(typeof (data));
            if (reload_on_data_update) {
                location.reload();
            } else {
                for (const [key, value] of Object.entries(json)) {
                    // Updates values for each symbol that was originally set

                    // console.log(`${key}: ${value}`);
                    let val = value;
                    val = "$" + val;
                    $('td.' + key).text(val);
                }

                update();
            }
        });
    </script>
</footer>
</html>